{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    <div style="position: fixed; left:2%; bottom:5%;" class="hide-me alert {% if message.tags %} alert-{{ message.tags }} {% endif %} alert-dismissible fade show col-lg-4" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</ul>
{% endif %}


